# Copier ce fichier en ".env" et adapter les valeurs

DEBUG=True
SECRET_KEY=change-moi-en-production
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=kasa_db
DB_USER=kasa_user
DB_PASSWORD=kasa_password
DB_HOST=localhost
DB_PORT=5432

# Front-end Angular (pour CORS)
CORS_ALLOWED_ORIGINS=http://localhost:4200
